@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

$clr__ming: #16697A;
$clr__pacificBlue: #489FB5;
$clr__middleBlue: #8BC4D0;
$clr__isabelline: #EFE7E6;
$clr__timberwolf: #E7DBDA;
$clr__silverPink: #C6B0A9;
$clr__burnishedBrown: #A77C76;
$clr__burnishedBrownLight: hsla(7, 22%, 54%, 0.25);
$clr__orangePeel: #E08300;

$fSize__base: 1rem;
$fSize__middle: 1.5rem;
$fSize__large: 2rem;

$fWeight__regular: 400;
$fWeight__middle: 500;
$fWeight__bold: 700;

$font__DMSans: 'DM Sans', sans-serif;
