@import './_variables.scss';
@import './index.scss';

.contentCard__accordion{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    overflow-y: auto;
    max-height: 40vh;
}

.accordion{
    display: flex;
    flex-direction: column;
}

.accordion__header{
    display: flex;
    justify-content: space-between;
}

.accordion__content.accordion__contentCollapsed {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.accordion__content{
    height: auto;
    max-height: 9999px;
    transition: max-height 1s ease-in;
    display: flex;
    flex-direction: column;
}

.accordion__content > p{
    text-align: center;
    margin: .5rem;
}


.accordion__content > table{
    margin: .5rem;
    border-collapse: collapse;
}

.accordion__content > table > thead{
    background: $clr__isabelline;
}


td, th {
    padding: .2rem;
    text-align: center;
}

.accordion__content thead th:first-child{
    border-top-left-radius: .5rem;
    
}
.accordion__content thead th:last-child{
    border-top-right-radius: .5rem;
    border-left: 2px solid $clr__burnishedBrownLight;
}

.accordion__content tbody tr:nth-child(even){
    background-color: $clr__snow;
}

.accordion__content tbody td{
    border-top: 2px solid $clr__burnishedBrownLight;
}

.accordion__content tbody td:last-child{
    border-left: 2px solid $clr__burnishedBrownLight;
}

.accordion__content tbody tr:last-child td:first-child{
    border-bottom-left-radius: .5rem;
}

.accordion__content tbody tr:last-child td:last-child{
    border-bottom-right-radius: .5rem; 
}